@font-face { 
    font-family: GrandSlang; 
    src: url('./fonts/GrandSlang-Roman.otf'); 
}

@font-face {
    font-family: Avenir;
    src: url(./fonts/AvenirLTStd-Roman.otf);
}

body {
    background: #ECE4DB;
    min-height: 100vh;
    overflow-y: scroll;
}

* {
    animation: fade-in 2s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Avenir;
    font-weight: 100;
    color: #2b2f46;
}

h1 {
    font-size: 128px;
}

h2 {
    font-size: 80px;
}

h3 {
    font-size: 40px;
}

.main {
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

section {
    scroll-snap-align: start;
}

.page {
    min-height: 100vh;
}

.header {
    position: sticky;
    top: 0px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.initial-container {
    top: 0px;
    padding: 20px;
}

.initial {
    font-size: 40px;
    text-decoration: none;
    color: #2b2f46;
}

.header-button {
    border: none;
    background: #2b2f46;
    color: #ECE4DB;
    font-size: 26px;
    padding: 6px 20px;
    border-radius: 14px;
    cursor: pointer;
    transition: .5s;
}

.header-button:hover {
    color: #313133;
    cursor: pointer;
    background: #fff;
    border: 1px solid #fff;
}

.hero-section {
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blur {
    -webkit-filter:blur(0px);
    animation: unblur 3s ease;
}

@keyframes unblur {
    0% {-webkit-filter:blur(20px);}
    100% {-webkit-filter:blur(0px);}
}

/* menu page styles */

#menu-page, #work {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-container {
    list-style: none;
    margin-left: 20px;
}

.menu-item {
    font-family: GrandSlang;
    font-size: 128px;
    text-decoration: none;    
    transition: .5s;
    left: 0px;
}

.menu-item:hover {
    color: #000;
    font-style: italic;
    font-size: 136px;
}

/* contact page styles */

#contact {
    background-color: #2b2f46;
}

.contact-initial {
    color: #ECE4DB;
    font-size: 40px;
    text-decoration: none;
}

.contact-form {
    height: 100%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form h2 {
    text-align: center;
    color: #ECE4DB;
}

label {
    text-align: left;
}

input {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 40px;
    border-radius: 20px;
    background: none;
    border: 1px solid #ECE4DB;
    font-size: 20px;
    color: #ECE4DB;
}

::placeholder {
    color: #ECE4DB;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px 40px;
    border-radius: 20px;
    background: none;
    border: 1px solid #ECE4DB;
    font-size: 20px;
}

.submit-button {
    background-color: #ECE4DB;
    color: #313133;
    border: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 32px;
}

.submit-button:hover {

}


/* project page styles */

.project-preview {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.project-description {
    
    border-radius: 10px;
    border: 1px solid #2962FE;
    padding: 10vh 10vw;
    margin-top: 20px;
    border-radius: 20px;
}

.project-title {
    text-align: center;
}

.project-subtitle {
    text-align: center;
    font-style: italic;
}

.project-bullets {
    margin: 20px;
    line-height: 50px;
    font-size: 30px;
}

.project-buttons {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (max-width: 1000px) {
    .project-menu-item {
        font-size: 100px;
    }
}

@media screen and (max-width: 800px) {
    h2 {
        font-size: 60px;
    }

    .menu-item {
        font-size: 90px;
    }
}

@media screen and (max-width: 600px) {
    
    .hero-section {
        padding: 0 20px;
    }
    
    h2 {
        font-size: 32px;
    }

    .menu-item {
        font-size: 60px;
    }

    .menu-item:hover {
        font-size: 66px;
    }

    .project-menu-item {
        font-size: 50px;
    }

    #contact {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-form {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8vh;
    }

    .contact-form h2 {
        margin-bottom: 30px;
    }

    .submit-button {
        width: 100%;
    }

}